<%= form_with url: reward_path, method: :post do |form| %>
  <div class="field">
    <%= form.label "File" %>
    <%= form.file_field "file" %>
  </div>
  <div class="field">
    <%= form.submit "Generate Reward", class: 'generate-button' %>
  </div>
<% end %>

<%= render "reward"%>
